<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{fragments/main_layout}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<script src="/js/dashboard.js"></script>
<link rel="stylesheet" href="/css/main.css">
<title>Willkommen</title>
</head>
<body>
	<div layout:fragment="content" class="container">
		<div class="container my-5">
			<h3>Kunde im Kurs</h3>
			<table class="table table-striped table-responsive-md">
				<thead>
					<tr>
						<th>Name</th>
						<th>Vorname</th>
				<div>TOTAL Kunden: <span th:text="${#lists.size(kunde)}"/> <div class="dashboard__room">Raum: <span  th:text="${room.name}"/></div></div>
					</tr>
				</thead>
				<tbody>
					<tr th:each="kund : ${kunde}">
					<td th:text="${kund.name}"></td>
					<td th:text="${kund.vorname}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</body>
</html>