<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{fragments/main_layout}">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Willkommen</title>

</head>
<body>
	<div class="card">
		<div class="card-body">
			<div layout:fragment="content" class="container">
				<div th:switch="${transactions}" class="container my-5">
					<div class="col-md-10">
						<div th:case="*">
							<table class="table table-striped table-responsive-md">
								<thead>
									<tr>
										<th>Referenz Nummer</th>
										<th>Betrag</th>
										<th>Währung</th>
										<th>Art der Transaction</th>
										<th>Status</th>
										<th>Datum</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="transaction : ${transactions}">
									<td th:text="${transaction. refNo}"></td>
										<td th:text="${transaction.amount}"></td>
										<td th:text="${transaction.currency}"></td>
										<td th:text="${transaction.transactionTyp}"></td>
										<td th:text="${transaction.state}"></td>
										<td th:text="${transaction.createdAt}"></td>


									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>