<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{fragments/main_layout}"
	xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Zahlungsmittel</title>

</head>
<body>
	<div layout:fragment="content" class="container">
		<p>Hier können Sie sich für Wiederkehernde Zahlungen registrieren.</p>

		<h4 class="mb-3">Ihr Zahlungsmittel:</h4>
		<div class="d-block my-3">
			<div th:if="${paymentinfo}">
				<div class="row">
					<div class="col-md-6 mb-3">
						<div>
							<label for="number">Kartenummer</label> <input type="text"
								class="form-control" id="number"
								th:value="${userinfo.alias.maskedCreditCardNumber}" readonly>
						</div>
						<div>
							<label for="expire">Ablauf Monat Jahr</label> <input type="text"
								class="form-control" id="expire"
								th:value="${userinfo.alias.expiryMonth +'/'+ userinfo.alias.expiryYear}"
								readonly>
						</div>
					</div>
					<div class="col-md-6 mb-3">
						<img th:src="${paymentinfo.path}" />
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 mb-3">
						<form th:action="@{/alias/registrierung}" method="POST"
							class="form-signin">
							<button class="btn btn-lg btn-primary btn-block" name="Submit"
								value="register" type="Submit" th:text="Ändern"></button>
						</form>
					</div>
					<div class="col-md-6 mb-3">
						<form th:action="@{/alias/delete}" method="POST"
							class="form-signin">
							<button class="btn btn-lg btn-primary btn-block" name="Submit"
								value="delete" type="Submit" th:text="Löschen"></button>
						</form>
					</div>
				</div>
			</div>
			<div th:unless="${paymentinfo}">
				<p>Sie haben noch kein Zahlungsmittel registriert!</p>

				<div class="row">
					<div class="col-md-6 mb-3">
						<form th:action="@{/alias/registrierung}" method="POST"
							class="form-signin">
							<button class="btn btn-lg btn-primary btn-block" name="Submit"
								value="register" type="Submit" th:text="Registrierung"></button>
						</form>
					</div>
				</div>
			</div>
		</div>







	</div>
</body>
</html>