<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{fragments/main_layout}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Willkommen</title>
</head>
<body>
	<div layout:fragment="content" class="container">
		<div class="container my-5">
			<h3>Kurstyp auflisten</h3>
			<table class="table table-striped table-responsive-md">
				<thead>
					<tr>
						<th>Name</th>
						<th>Bild</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="kurstyp : ${kurse}">
						<td th:text="${kurstyp.kursName}"></td>
						<td>
						<div th:if="${kurstyp.encodedImage}">
						<img alt="Kursbild"
							th:src="*{'data:image/png;base64,' + kurstyp.encodedImage}"
							height="80" width="auto" />
							</div>
							</td>
						<td><a th:href="@{/class/edit/{id}(id=${kurstyp.id})}"
							class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
						<td><a th:href="@{/class/delete/{id}(id=${kurstyp.id})}"
							class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>