<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{fragments/main_layout}"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Willkommen</title>
</head>
<body>
	<div layout:fragment="content" class="container">
		<div class="container my-5">
			<h3>Kurs erfasen</h3>

			<form action="#" th:action="@{/classrun/add}" th:object="${kursrun}"
				method="post" enctype="multipart/form-data">

				<div class="row">
					<div class="form-group col-md-8">
						<label for="sex" class="col-form-label">Kurstyp</label> <select
							th:field="*{kurs}" class="form-control" id="sex">
							<option value="">--</option>
							<option th:each="kurs : ${kurse}" th:value="${kurs.id}"
								th:utext="${kurs.kursName}" />
						</select>
					</div>

					<div class="form-group col-md-8">
						<label for="date" class="col-form-label">Datum</label> <input
							type="text" th:field="*{date}" class="form-control" id="date"
							placeholder="Start Datum">
					</div>

					<div class="form-group col-md-8">
						<label for="time" class="col-form-label">Time</label> <input
							type="text" th:field="*{startTime}" class="form-control"
							id="time" placeholder="Start Zeit">
					</div>

						<div class="form-group col-md-8">
						<label for="duration" class="col-form-label">Dauer</label>
						<select
						name="duration" class="form-control" id="duration">
						<option
							th:each="duration : ${T(ch.highway2bit.model.ClassRunDuration).values()}"
							th:value="${duration}" th:text="${duration.timeInMin}"></option>
					</select>

					</div>

					<div class="form-group col-md-8">
						<label for="room" class="col-form-label">Raum</label> <select
							th:field="*{room}" class="form-control" id="room">
							<option value="">--</option>
							<option th:each="room : ${rooms}" th:value="${room.room_id}"
								th:utext="${room.name}" />
						</select>
					</div>

					<div class="form-group col-md-8"></div>

					<div class="col-md-6">
						<input type="submit" class="btn btn-primary" value="Hinzufügen">
					</div>
				</div>
			</form>
		</div>
	</div>

</body>
</html>