body {
    background-color: #f5f5f5;
}

#main-content {
    max-width: 940px;
    padding: 2em 3em;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.error {
	border-style: solid;
	border-color: red;
	border-width: 8px;
}

.success{
	border-style: solid;
	border-color: green;
	border-width: 8px;
}

.image {
	 border-style: solid;
  	 border-color: transparent;
  	 border-width: 8px;
}
