<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{fragments/main_layout}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8">
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<script src="/js/nfcreader.js"></script>
<title>Neuer Kunde</title>
</head>
<body>
	<div layout:fragment="content" class="container">
		<h3>Kunde erfassen</h3>

		<form action="#" th:action="@{/customermanager/add}"
			th:object="${user}" method="post">

			<div class="row">
				<div class="form-group col-md-8">
					<label for="gender" class="col-form-label">Geschlecht</label> <select
						name="geschlecht" class="form-control">
						<option
							th:each="gender : ${T(ch.highway2bit.model.global.Geschlecht).values()}"
							th:value="${gender}" th:text="${gender}"></option>
					</select>
				</div>
			</div>

			<div class="row">
				<div class="form-group col-md-8">
					<label for="name" class="col-form-label">Name</label> <input
						type="text" th:field="*{name}" class="form-control" id="name"
						placeholder="Name"> <span
						th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
						class="text-danger"></span>
				</div>
				<div class="form-group col-md-8">
					<label for="vorname" class="col-form-label">Vorname</label> <input
						type="text" th:field="*{vorname}" class="form-control"
						id="vorname" placeholder="Vorname"> <span
						th:if="${#fields.hasErrors('vorname')}" th:errors="*{vorname}"
						class="text-danger"></span>
				</div>
				<div class="form-group col-md-8">
					<label for="email" class="col-form-label">Email</label> <input
						type="text" th:field="*{email}" class="form-control" id="email"
						placeholder="Email"> <span
						th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
						class="text-danger"></span>
				</div>

				<div class="form-group col-md-8">
					<label for="nfcid" class="col-form-label">NFC ID </label> <input
						type="text" th:field="*{nfcCard.id}" class="form-control"
						id="nfcid" placeholder="NFC Nummer">
				</div>


				<div class="form-group col-md-8">
					<label for="sub" class="col-form-label">Abonnementenart</label>
					<select name="sub" class="form-control">
						<option th:each="sub : ${subscirptions}" Path="sub"
							th:value="${sub.Id}"
							th:utext="${sub.name}" />
					</select>
				</div>

				<div class="col-md-6">
					<input type="submit" class="btn btn-primary" value="Kunde hinzufügen">
				</div>

				<div class="form-group col-md-8"></div>

			</div>
		</form>

	</div>

</body>
</html>