<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{fragments/main_layout}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Users</title>

</head>
<body>
	<div layout:fragment="content" class="container">
		<div th:switch="${customers}" class="container my-5">

							<div th:case="*">
					<table class="table table-striped table-responsive-md">
						<thead>
							<tr>
								<th>Name</th>
								<th>Edit</th>
								<th>Delete</th>
								<th>Sperren/Entsperren</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="customer : ${customers}">
								<td th:text="${customer.name}"></td>

								<td><a
									th:href="@{/customermanager/edit/{id}(id=${customer.id})}"
									><i class="fas fa-user-edit ml-2"></i></a></td>
								<td><a
									th:href="@{/customermanager/delete/{id}(id=${customer.id})}"
									><i class="fas fa-user-times ml-2"></i></a></td>

									<td><a th:if="${customer.active == 'ACTIVE'}"
									th:href="@{/customermanager/lock/{id}(id=${customer.id})}" title="Sperrt den Kunden"
									><i class="fas fa-user-lock ml-2" style=" color: red"></i></a>

									<a th:unless="${customer.active == 'IN_ACTIVE'}" title="Aktiviert den Kunden"
									th:href="@{/customermanager/unlock/{id}(id=${customer.id})}"
									><i class="fa fa-unlock ml-2" style=" color: green"></i></a>
									</td>

									<td th:text="${customer.active}" />
							</tr>
						</tbody>
					</table>
				</div>
		</div>
	</div>

</body>
</html>