<!DOCTYPE html>

<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8">
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/main.css" rel="stylesheet">
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<script src="/js/app.js"></script>
<head>

<title>Terminal</title>
<body>
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h3>Mapping ID!</h3>
			<span th:if="${mappingId != null}">
				<h1 th:text="${mappingId}" id="kursname" />


			</span>

		</div>

	</div>


</body>

</html>