<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{fragments/main_layout}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Password ändern</title>

</head>
<body>
	<div class="card">
		<div class="card-body">
			<div layout:fragment="content" class="container">
				<form th:action="@{/global/changepass}" th:object="${pass}"
					method="POST" class="form-signin">
					<h3 class="form-signin-heading"> Passwort ändern</h3>
					<br />

					<div class="row">
						<div class="form-group col-md-8">
							<label for="password" class="col-form-label">Aktuelles
								Passwort</label> <input type="password" th:field="*{password}" th:required="required"
								class="form-control" id="password"
								placeholder="Aktuelles Passwort">

						</div>
						<div class="form-group col-md-8">
							<label for="newPassword" class="col-form-label">Neues
								Passwort</label> <input type="password" th:field="*{newPassword}" th:required="required"
								class="form-control" id="newPassword"
								placeholder="Neues Passwort">
						</div>
						<div class="form-group col-md-8">
							<label for="repeatedNewPassword" class="col-form-label">Neues
								Passwort wiederholen</label> <input type="password" th:required="required"
								th:field="*{repeatedNewPassword}" class="form-control"
								id="repeatedNewPassword"
								placeholder="Neues Passwort wiederholen">
						</div>


						<div class="form-group col-md-8">
						<button class="btn btn-lg btn-primary btn-block" name="Submit"
						value="Login" type="Submit" th:text="Ändern"></button>
						</div>

					</div>



				</form>
			</div>
		</div>
	</div>
</body>
</html>