<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}">
<head>
    <title>Einloggen</title>
</head>
<body>
<div layout:fragment="content" class="container">

		<form th:action="@{/login}" method="POST" class="form-signin">
			<h3 class="form-signin-heading" th:text="Welcome"></h3>
			<br/>

			<input type="text" id="email" name="email"  th:placeholder="Email"
				class="form-control" /> <br/>
			<input type="password"  th:placeholder="Password"
				id="password" name="password" class="form-control" /> <br />

			<button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="Login"></button>
		</form>
</div>
</body>
</html>